body {
  background-color: #f6fdff;
}
header {
  position: fixed;
  width: 100%;
  background-color: #f6fdff;
  z-index: 3;
}

header nav ul li a {
  color: #073141;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  transition: all 0.1s;
}

header nav ul li a:hover {
  font-weight: bold;
}

header button,
.text-btn-div button {
  width: 192px;
  height: 45px;
  border-radius: 12px;
  background-color: #1d7293;
  box-shadow: 0px 0px 0px 1.92px #ccdee6, 0px 0px 0px 0.92px #fff,
    0px 1.92px 0px 0px rgba(255, 255, 255, 0.2) inset,
    0px 0px 0px 1.92px rgba(255, 255, 255, 0.2) inset;
  color: var(--lpx-white-50, #fff);
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
  transition: all 0.3s;
}

header button:hover,
.text-btn-div button:first-child:hover {
  background-color: #f6fdff;
  color: #1d7293;
}

.nav-div {
  margin: 20px 0px 25px 0px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
nav ul {
  display: flex;
  column-gap: 60px;
}

.container {
  max-width: 1500px;
  margin: 0 auto;
}

.box1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.text-div1 h1 {
  color: #073141;
  font-family: "Manrope", sans-serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 50px;
}

.text-btn-div button:last-child {
  background-color: #f6fdff;
  color: #1d7293;
  box-shadow: 0px 0px 0px 1.92px #ccdee6, 0px 0px 0px 0.92px #fff,
    0px 1.92px 0px 0px rgba(255, 255, 255, 0.2) inset,
    0px 0px 0px 1.92px rgba(255, 255, 255, 0.2) inset;
  margin-left: 30px;
}

.text-btn-div button:last-child:hover {
  background-color: #1d7293;
  color: var(--lpx-white-50, #fff);
}

.text-div2 {
  text-align: center;
}

.text-div2 h2 {
  color: #1d7293;
  text-align: center;
  font-family: "Manrope", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.text-div2 p {
  color: #073141;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.img-div2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.child {
  padding: 50px 100px 0px 80px;
}
.text-div3 {
  text-align: center;
}

.text-div3 h2 {
  color: #1d7293;
  font-family: "Manrope", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.text-div3 h5 {
  color: #073141;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.contpadding1 {
  padding-top: 130px;
}

.contpadding2 {
  padding-top: 40px;
}

.artwork-images {
  display: flex;
  justify-content: center;
  align-items: center;
}

.artwork-image {
  padding: 0px 0px 20px 40px;
}

.artwork-author {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.artwork-author h3 {
  color: #68818b;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 7px;
}

.artwork-icons {
  margin-left: auto;
  display: flex;
}

.span-1 {
  margin-right: 15px;
}

.artwork-icons span {
  color: #68818b;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 5px;
}

.text-div4 h3 {
  color: #1d7293;
  text-align: center;
  font-family: "Manrope", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

.contpadding3 {
  padding-top: 100px;
}

.main_wrapper {
  display: grid;
  place-items: center;
}

.contpadding4 {
  padding-top: 40px;
}
.content {
  width: 1300px;
  height: auto;
  border-radius: 0px 30px;
  background-color: rgba(29, 114, 147, 0.1);
}

.textbox h3 {
  color: #073141;
  font-family: "Manrope", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 10px;
}

.textbox p {
  color: #073141;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: fit-content;
  margin-bottom: 20px;
}

.col-1 {
  display: flex;
  align-items: center;
}

.col-1 img {
  padding: 30px;
}

.logos img {
  padding: 0px 10px 0px 0px;
}

.col-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.col-box {
  padding: 0px 20px;
}

.col-box img {
  margin-bottom: 10px;
}

.contpadding5 {
  margin-top: 100px;
  width: 100%;
  height: auto;
  background-color: #1d7293;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-box h2 {
  color: #f6fdff;
  text-align: center;
  font-family: "Manrope", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  margin: 20px 0px;
}

.main-box h5,
.main-box p {
  color: #f6fdff;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 20px;
}

.main-box button {
  width: 192px;
  height: 50px;
  border-radius: 12px;
  background-color: #f6fdff;
  box-shadow: 0px 0px 0px 1.92px #1d7293, 0px 0px 0px 0.92px #fff,
    0px 1.92px 0px 0px rgba(255, 255, 255, 0.2) inset,
    0px 0px 0px 1.92px rgba(255, 255, 255, 0.2) inset;
  color: #1d7293;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 20px;
}

.box-btn {
  text-align: center;
}

.text-div5 h2 {
  color: #1d7293;
  text-align: center;
  font-family: "Manrope", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.text-div5 p {
  color: #073141;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 30px;
}
.contpadding6 {
  padding-top: 200px;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-child {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 38.375rem;
  background-color: rgba(29, 114, 147, 0.1);
  padding: 20px;
  margin: 15px;
  border-radius: 0px 30px;
}

.flex-textbox h2 {
  color: #073141;
  font-family: "Manrope", sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 15px;
}

.flex-textbox p {
  color: #073141;
  font-family: "Inter", sans-serif;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.text-div6 {
  color: #1d7293;
  text-align: center;
  font-family: "Manrope", sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 0.225rem;
  text-transform: uppercase;
}

.contpadding7 {
  padding-top: 50px;
}

.text-div7 {
  color: #1d7293;
  text-align: center;
  font-family: "Manrope", sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 0.225rem;
  text-transform: uppercase;
}

.contpadding8 {
  padding-top: 50px;
}

.text-div8 h2 {
  color: #1d7293;
  text-align: center;
  font-family: "Manrope", sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 0.225rem;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.text-div8 p {
  color: #073141;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.contpadding9 {
  padding-top: 200px;
}

.flex-container2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-child2 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 39rem;
  border-radius: 0rem 1.875rem;
  background: rgba(29, 114, 147, 0.1);
  padding: 20px;
  margin: 15px;
}

.flex-child2 img {
  width: 200px;
}

.text-div9 h2 {
  color: #1d7293;
  text-align: center;
  font-family: "Manrope", sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 0.225rem;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.text-div9 p {
  color: #073141;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.contpadding10 {
  padding-top: 250px;
}

.flexbox-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexbox-child {
  padding: 0px 40px;
}

.contpadding11 {
  padding-top: 40px;
}

.contpadding12 {
  padding-top: 200px;
}

.text-div10 h2 {
  color: #1d7293;
  text-align: center;
  font-family: "Manrope", sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 0.225rem;
  text-transform: uppercase;
}

.text-div10 p {
  color: #073141;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
